.bg-new {
  background-image: url("../assets/book-background2.png");
}

#mainNav {
  right: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background: aliceblue;
  opacity: 0.8;
  border-bottom: solid black;
  border-radius: 2%
}